<header class="container-fluid d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <div class="col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <h4 class="mb-0">Административная панель TaskTimer Admin</h4>
    </div>
    <div class="col-md-3 text-end">
        <a href="/" class="btn btn-primary" target="_blank">На сайт</a>
    </div>
</header>
