<header>
    <ul>
        <li><a href="{{ path('app_dashboard') }}">Дашборд</a></li>
        <li><a href="{{ path('app_user_list') }}">Пользователи</a></li>
    </ul>
    <a href="{{ path('admin_logout') }}">Выход</a>
</header>
