.form-signin {
    max-width: 400px;
    height: 100svh;
    display: flex;
    align-items: center;
}

.form-signin>form {
    width: 100%;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

main {
    min-height: 100svh;
}

.content {
    min-height: 100svh;
}

footer {
    margin-top: auto;
}
