{% extends 'headers.html.twig' %}

{% block base %}
    <main class="d-flex flex-nowrap h-100">
        {% include('./_partials/sidebar.html.twig') %}
        <div class="content w-100 d-flex flex-column">
            {% include('./_partials/header.html.twig') %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis" href="/admin">
                            <i class="bi bi-house-fill"></i>
                            <span class="visually-hidden">Дашборд</span>
                        </a>
                    </li>
                    {% block breadcrumbs %}{% endblock %}
                </ol>
            </nav>
            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
            {% include('./_partials/footer.html.twig') %}
        </div>
    </main>
{% endblock %}
